@import url('https://fonts.googleapis.com/css?family=Montserrat|Saira+Extra+Condensed');
@import url('https://fonts.googleapis.com/css?family=Saira+Extra+Condensed');
*{
    box-sizing: border-box;
}
img{
    display:block;
    max-width: 100%;
}
body{
    margin: 0;
    background: red;
    height: 600px;
    
    font-family: 'Saira Extra Condensed', sans-serif;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 3px;
}
.contenedor{
    margin: auto;
    width: 1310px;
}




    






