.banner{
    margin-top: 300px;
    position: relative;
    z-index: -1000;
}
.banner .contenedor{
    position: absolute;
    top: 200%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    width: 100%;
    background: red;
    color:#FFFFFF;
}